HomePulse_frontend/node_modules
HomePulse_frontend/.env
HomePulse_frontend/Dockerfile
HomePulse_frontend/.dockerignore

HomePulse_backend/node_modules
HomePulse_backend/.env
HomePulse_backend/Dockerfile
HomePulse_backend/.dockerignore
HomePulse_backend/start.sh

HomePulse_webSocket/node_modules
HomePulse_webSocket/.env
HomePulse_webSocket/Dockerfile
HomePulse_webSocket/.dockerignore
HomePulse_webSocket/start.sh

docker-compose.yaml